<nav>
    <ul>
        <li id="logo">
            <a href="/all/1">
            MOVIEMAGIC
            </a>
        </li>
        <li id='input_text'>
            <input type="search" name="" id="input_text">
        </li>
        <li >
            <input type="button" value="Search" id="search_button">
        </li>
    </ul>
</nav>