<nav>
    <ul>
        <li id="logo">
            <a href="/all/1">
            MOVIEMAGIC
            </a>
        </li>
        <li id='input_text'>
            <form action="/ursearch" method="POST">
                <input type="search" name="search" id="input_text">
                <input type="submit" value="Search" id="search_button">
            </form>
        </li>
    </ul>
</nav>