<nav>
    <ul>
        <li>
            MOVIEMAGIC
        </li>
        <li>
            <input type="search" name="" id="">
        </li>
        <li>
            <button>
                search
            </button>
        </li>
    </ul>
</nav>